# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project

# Scala-IDE specific
.scala_dependencies
.worksheet

# Intellij
.idea
*.iml

.ipynb_checkpoints/

# some big data

Projects/mail_classification/datas/*
Projects/music_category/datas/*
Projects/anti_fraud/datas/*
FeatureEngineering/datas/C0904.csv
FeatureEngineering/datas/C0911.csv

# model out path
DeepLearning/CNN/nets/
mn/
DeepLearning/CNN/data/17flowers/
DeepLearning/CNN/data/captcha/

BasicLibs/learnSurprise/datas
Projects/plate_number/models
Projects/plate_number/images
Projects/plate_number/NoPlates
Projects/plate_number/plate
Projects/plate_number/font
Projects/text_classification_cnn_rnn/data
Projects/text_classification_cnn_rnn/tensorboard
Projects/text_classification_cnn_rnn/checkpoints
Projects/Seq2Seq_Chatbot/bucket_dbs
Projects/Seq2Seq_Chatbot/db
Projects/Seq2Seq_Chatbot/model
Projects/Seq2Seq_Chatbot/text8
Projects/Seq2Seq_Chatbot/dgk_shooter_min.conv
Projects/Seq2Seq_Chatbot/word2vec.zip
Projects/Seq2Seq_Chatbot/a.txt
Projects/ctr_prediction/data
Projects/ctr_prediction/criteo_data